body {
  background: #fefefe;
  color: #333;
}

.link {
  color: #1a936f;
}

.mainHeader {
  color: tomato;
}

.sectionHeader,
.diaryHeader {
  color: #1460AA;
}

.paragraph {
  color: darkblue;
}


.heading {
  color: #00487C;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.singleArt h1 {
  text-align: center;
  background: #F6E0C1;
  font-size: 2rem;
  padding: 1rem 0.5rem;
}

.singleArt p, ul {
  text-align: center;

}

.heading2 {
  text-align: center;
  background: #F6E0C1;
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.thirdHeader {
  color: #0496ff;
}